.contact-page-area{
	background:$offwhite;
	.map-wrap{
		margin-bottom:120px;
		@media(max-width:960px){
			margin-bottom:50px;	
		}
	}

	.contact-btns{
		font-size:18px;
		font-weight:600;
		text-align:center;
		padding:40px;
		color:$white;
		margin-bottom:30px;
		&:hover{
			color:$white;
		}
	}

	.form-area{
		input{
			padding: 15px;		
		}
		input,textarea{
			border-radius:0;
			font-size:12px;
		}
		textarea{
			height: 190px;
			margin-top: 0px;
		}

		.primary-btn{
			@include transition();
			&:hover{
				border:1px solid $primary-color;
				color:$primary-color!important;
			}
		}
	}

	@media(max-width: 960px){
		.address-wrap{
			margin-bottom: 50px;
		}
	}


	.single-contact-address {
		margin-bottom:20px;
		h5{
			font-weight:300;
			font-size:16px;
			margin-bottom:5px;
		}	
		.lnr{
			font-size:30px;
			font-weight:500;
			color:$primary-color;
			margin-right:30px;
		}
	}

}